<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<body>
    <div ng-app="myApp" ng-controller="myCtrl"> 
        <p>First Name:</p>
        <input type="text" ng-model="firstName">
        <br> <p>Last Name:</p>
        <input type="text" ng-model="lastName">
        <br> <p>Full Name: {{firstName + " " + lastName}}</p> </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.firstName = "Steven";
            $scope.lastName = "Croft";
        });
    </script>
</body>

</html>